Node Red/PS Dashboard.json
[
    {
        "id": "235afab78ebce641",
        "type": "tab",
        "label": "PS Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "792d7d11bf3fa786",
        "type": "inject",
        "z": "235afab78ebce641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "a617790c60f9b875"
            ]
        ]
    },
    {
        "id": "bbc5738b1ade9adc",
        "type": "function",
        "z": "235afab78ebce641",
        "name": "function 12",
        "func": "msg.payload = msg.payload.value\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 260,
        "wires": [
            [
                "d913b91c3da5132c"
            ]
        ]
    },
    {
        "id": "a617790c60f9b875",
        "type": "http request",
        "z": "235afab78ebce641",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/vagas_ocupadas",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 100,
        "wires": [
            [
                "bbc5738b1ade9adc"
            ]
        ]
    },
    {
        "id": "d913b91c3da5132c",
        "type": "ui_gauge",
        "z": "235afab78ebce641",
        "name": "",
        "group": "cddd4080c7a8b57a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Vagas ocupadas",
        "label": "Total",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "086b1e9316c97f1a",
        "type": "mqtt in",
        "z": "235afab78ebce641",
        "name": "",
        "topic": "status_vagas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1b7cbc63254c581a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 520,
        "wires": [
            [
                "7c93e2c0b1a2dd2b"
            ]
        ]
    },
    {
        "id": "20a62b51d69c78cc",
        "type": "ui_button",
        "z": "235afab78ebce641",
        "name": "",
        "group": "995d4a1e61a2988d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Situação das vagas",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "vaga_a",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 520,
        "wires": [
            [
                "9f5c03b83890dccc"
            ]
        ]
    },
    {
        "id": "9f5c03b83890dccc",
        "type": "ui_text",
        "z": "235afab78ebce641",
        "group": "995d4a1e61a2988d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Disponivel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 520,
        "wires": []
    },
    {
        "id": "99cb30398166fcf6",
        "type": "http request",
        "z": "235afab78ebce641",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/status_vagas",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 520,
        "wires": [
            [
                "20a62b51d69c78cc"
            ]
        ]
    },
    {
        "id": "7c93e2c0b1a2dd2b",
        "type": "change",
        "z": "235afab78ebce641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "vaga_a",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 520,
        "wires": [
            [
                "99cb30398166fcf6"
            ]
        ]
    },
    {
        "id": "cddd4080c7a8b57a",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "b86bd9e5c696f453",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b7cbc63254c581a",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "995d4a1e61a2988d",
        "type": "ui_group",
        "name": "Botões vagas",
        "tab": "b86bd9e5c696f453",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b86bd9e5c696f453",
        "type": "ui_tab",
        "name": "PS Dashboard",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]